@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700|Roboto+Slab:400,700);

.tooltip-container {
    font-family: "Roboto", Verdana, sans-serif;
}

.d3-loc-tooltip {
    font-size: 0.7rem;
    color: grey;
    margin: 0.5rem 0.3rem 0.5rem 0.3rem;
}

.d3-name-tooltip {
    font-size: 1rem;
    margin: 0.5rem 0.3rem 0.5rem 0.3rem;
}

.d3-name-tooltip span.party {
    font-size: 0.8rem;
    margin: 0 0 0 0.2rem;
    padding: 0.2rem 0.5rem 0.1rem 0.5rem;
}

.d3-name-tooltip .democratic {
    background-color: #3574B2;
}

.d3-name-tooltip .progressive {
    background-color: #9BC53D
}

.d3-name-tooltip .independent {
    background-color: #F4D107
}

.d3-name-tooltip .republican {
    background-color: #C3423F
}
